<%= image_tag(('bayside-brewery-logo.png'), class: 'logo') %>

<div class="wrapper">
  <h1>The Bayside Brewery Shop</h1>
  <h3><a href="https://www.thebaysidebrewery.com">Back to TheBaysideBrewery.com</a></h3>

  <div class="product-container">
    <% @products.each do |product| %>
      <div class="product">
        <%= image_tag((product.img_path), class: 'product-image') %>
        <p><%= product.name %></p>
        <p><%= number_to_currency(product.price) %></p>
      </div>
    <% end %>
  </div>
</div>

<footer>
    Page built by Michael Butera for The Bayside Brewery &copy; 2018
</footer>